* {
	box-sizing: border-box;
}

/* For Sticky Footer */
html, body {
	height: 100%;
}

body {
	background: url("../images/background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	/* For Sticky Footer */
	display: flex;
	flex-direction: column;	
}

header {
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #1A1110;
	font-family: "Russo One";
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	text-shadow: 0 0 0.2em #FFFF00, 0 0 0.1em #FFFF00;
}

section {
	flex: 1 0 auto;
}

footer {
	text-align: center;
	color: black;
	font-size: 10px;
}